{% extends 'base.html' %}
        {% block content %}

{% block styles %}
{{super()}}

<link href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet"> 
{% endblock %}

        
        <body style="background-image:url('../static/css/news3.jpeg');background-attachment: fixed;background-size: cover;">
        <div class="container-fluid">
                <div class="row">
                        <h2 style="text-align: center;color:#40E0D0;">General news </h2><hr>
                        {% for all_news in general %}
                        <div class="col-md-3">
                                <div class="thumbnail">
                                        <div class="details">
                                                <h4>{{all_news.name}}</a></h4>
                                                <p>{{all_news.description | truncate(100)}}</p>
                                                <p><a href="/articles/{{ all_news.id}}">Expound more on {{all_news.name}} Article.</a></p>
                                        </div>
                                </div>
                        </div>
                        {% endfor %}
                </div>
         </div>
         <hr>

        <div class="container-fluid">
                <div class="row">
                                <h2 style="text-align: center;color:#40E0D0;">Business news </h2><hr>
                                {% for all_news in business %}
                                <div class="col-md-3">
                                        <div class="thumbnail">
                                                <div class="details">
                                                        <h4>{{all_news.name}}</h4>
                                                        <p>{{all_news.description | truncate(100)}}</p>
                                                        <p><a href="/articles/{{ all_news.id}}">Expund more on {{all_news.name}} Article.</a></p>

                                                </div>

                                        </div>
                                </div>
                                {% endfor %}
                </div>
        </div>
        <hr>


        <div class="container-fluid">
                 <div class="row">
                          <h2 style="text-align: center;color:#40E0D0;">Sports news </h2><hr>
                          {% for all_news in sports %}
                          <div class="col-md-3">
                                  <div class="thumbnail">
                                          <div class="details">
                                                  <h4>{{all_news.name}}</a></h4>
                                                  <p>{{all_news.description | truncate(100)}}</p>
                                                  <p><a href="/articles/{{ all_news.id}}">Expound more on  {{all_news.name}} Article.</a></p>
                                        </div>
                                </div>
                        </div>
                                 {% endfor %}
                </div>
        </div>
        <hr>

        <div class="container-fluid">
                <div class="row">
                        <h2 style="text-align: center;color:#40E0D0;">Tech news </h2><hr>
                        {% for all_news in technology %}
                        <div class="col-md-3">
                                <div class="thumbnail">
                                        <div class="details">
                                                <h4>{{all_news.name}}</a></h4>
                                                <p>{{all_news.description | truncate(100)}}</p>
                                                <p><a href="/articles/{{ all_news.id}}">Expound more on {{all_news.name}} Article.</a></p>
                                        </div>
                                </div>
                        </div>
                {% endfor %}
                </div>
        </div>
        <hr>

              
                                        <h2 style="text-align: center;color:#40E0D0;">Science news </h2>
                                        <hr>
                                {% for all_news in science %}
                                <div class="col-md-4">
                                        <div class="thumbnail">
                                                <div class="details">
                                                        <h4>{{all_news.name}}</a></h4>
                                                        <p>{{all_news.description | truncate(100)}}</p>
                                                        <p><a href="/articles/{{ all_news.id}}">Expound more on {{all_news.name}} Article</a></p>
                                                </div>
                                        </div>
                                 </div>
                                 {% endfor %}
                                </div>
                                </div>
                                <hr>
                                    
        {%  endblock %}

</body>